@font-face {
    font-family: "Heebo-Regular";
    src: url(/fonts/Heebo-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/jeopardy-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Heebo-regular";
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    width: 90%;
    border-radius: 15px;
}

.category-title{
    color: white;
    text-align: center;
    margin: auto;
}

.category-column {
    margin: 15px;
    background-color: #0139C5;
    display: flex;
    grid-column-gap: 10px;
    height: 100px;
    width: 200px;
    border-style: solid;
    border: white;
    border-radius: 15px;
    justify-items: center;
    justify-content: center;
}

.card{
    width: 100px;
    height: auto;
    background-color: rgb(26,26,255);
    border-left: 10px solid rgb(19,19,160);
    border-right: 10px solid rgb(11, 11, 91);
    border-top: 10px solid rgb(1, 61, 200);
    border-bottom: 10px solid rgb(20, 20, 89);

}